.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  /* column-gap: 50px; */
  /* row-gap: 20px; */
}
.el {
  height: 150px;
  width: 150px;
  background-color: rgb(144, 37, 37);
  color: wheat;
  border: 1px solid black;
}
