article {
  width: 60%;
  border: 1px solid black;
}

p#p1::first-line {
  font-weight: bold;
}

#article1 p::first-letter {
  font-size: larger;
  color: yellowgreen;
}

#article2 p::first-line {
  font-style: italic;
}

#article2 p::before,
#article2 p::after {
  content: "''";
}

#article3 p::first-line {
  font-size: larger;
  text-indent: 5px;
}

#article3 p::selection {
  background-color: yellow;
}
